/* Mobile/Tablet Modal */
.modalBackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 55;
}

.modalContent {
width: 70%;
  max-height: 575px;
  /* min-height: 200px; */
  background-color: white;
  /* padding: 25px; */
}
.createPostModalContentInner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 520px;
}

.createPostModalSwitch:checked {
  right: 0;
  border-color: #68D391;
}
.createPostModalSwitch:checked ~ label {
  background-color: #68D391;
}